.container {
  margin: 5vh 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

  .filters {
    width: 400px;
    font-size: 20px;
    text-align: justify;
  }

  .map {
    width: 750px;
    height: 550px;
  }
}

.checkbox {
  position: relative;
  padding-left: 25px;
  vertical-align: middle;
}

input[type="checkbox"] {
  display: none;
}
label:after {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  outline: 1px solid #939598;
  position: absolute;
  top: 3px;
  left: -1px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input[type="checkbox"]:checked + label:after {
  outline: 1px solid #939598;
  border: 2px solid #fff;
  width: 14px;
  height: 14px;
  background-color: green;
}
